<form class="max-w-md mx-auto" [formGroup]="miFormulario">
    <br>
    <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" formControlName="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required #nombre [value]="cliente.nombre"/>
        <div *ngIf="miFormulario.get('floating_first_name')?.invalid && miFormulario.get('floating_first_name')?.touched">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-transparent dark:text-red-400" role="alert">
                <span class="font-medium">El nombre es requerido</span>
              </div>
        </div>
        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-yellow-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"  >Nombre Completo</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" formControlName="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required #correoElectronico [value]="cliente.correoElectronico"/>
        <div *ngIf="miFormulario.get('floating_email')?.invalid && miFormulario.get('floating_email')?.touched">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-transparent dark:text-red-400" role="alert">
                <span class="font-medium">El correo es requerido</span>
              </div>
        </div>
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-yellow-500 peer-focus:dark:text-yellow-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" >Correo Electronico</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="tel" name="floating_phone" formControlName="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-yellow-500 peer" placeholder=" " required #celular [value]="cliente.celular"/>
        <div *ngIf="miFormulario.get('floating_phone')?.invalid && miFormulario.get('floating_phone')?.touched">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-transparent dark:text-red-400" role="alert">
                <span class="font-medium">El nombre es requerido</span>
              </div>
        </div>
        <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-yellow-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"  >Numero de telefono (123-456-7890)</label>
    </div>
    <div>
        <label class = "text-white">Fecha de Nacimiento</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input type="date" id="start" name="trip-start" [value]="cliente.fechaNacimiento" min="1930-01-01" max="2006-12-31"  #fechaNacimiento/>
    </div>
    <button type="button" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" (click)="updateCliente()">Guardar</button>
</form>
  